VITE_SUPABASE_URL=https://ivtxfnxhjcsaooqnrnbv.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml2dHhmbnhoamNzYW9vcW5ybmJ2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTc3NDE4MTcsImV4cCI6MjA3MzMxNzgxN30.IIJZxvDsoZrFbmebQrS0QRqaZbEv2Y-v1TO0grRYkbY